[gpg]
	program = gpg
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Jacob Sansbury
	email = sansburyjacob@gmail.com
	signingkey = 3AA5C34371567BD2
