[gpg]
	program = gpg
[commit]
	gpgsign = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Jacob Sansbury
	email = sansburyjacob@gmail.com
	signingkey = E13E7ADE273234E5
[core]
	ignorecase = false
